*{
    box-sizing: border-box;
}
body{
    margin: 0;
    font-family: sans-serif;
    background: #ddd;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 40vh;
}
.form-listado{
    width: 95%;
    /*max-width: 500px;*/
    background: white;
    padding: 20px;
    box-shadow: 0 0 20px #333;
}
.Form-title{
    margin-top: 0;
    font-size: 1.7em;
    text-align: center;
}
.container_flex{
    display: flex;
    justify-content: flex-start;
    margin-bottom: 20px;
    align-items: center;
}
.form-submit{
    width: 100%;
    background: #3E2E6F;
    padding: 10px;
    border: none;
    color: white;
    font-size: 1em;
    margin-top: 10px;
    cursor: pointer;
}
.form-search{
    width: 30%;
    background: #afb1bd;
    padding: 10px;
    border: none;
    color: rgb(10, 10, 10);
    font-size: 1em;
    margin-top: 10px;
    cursor:text;
    border-radius: 50px;
}
.list-table{
    width: 100%;
    border-collapse: collapse;
}
td , th{
    vertical-align:middle;
    text-align: center;
    padding: 20px;
}
thead{
    background-color: #246355;
    border-bottom: solid 5px;
    color: white;
}
tr:nth-child(even){
    background-color: #ddd;
}
tr:hover td{
    background-color: #369681;
    color: white;
}