form{
    background-color: blanchedalmond;
    width: 700px;
    /*text-align: center;*/ 
    display:inline-table;
    height: 100%;
    border: 2px solid red;
}

div {
    box-sizing: border-box;
}

#formdiv{
    display: inline-block;
    width: 100%;
    text-align: center;
    height: 950px;
}
#headfor{
    width: 100%;
    padding: 0;
    margin: 0;
    display: inline-block;
    position: absolute;
    align-items: stretch;
}
#logo{
    width: 20% ;
    float: left;
    /*background-image: url(img/logo.png);*/
    text-align: center;
    height: 10%;
    overflow:hidden;
    display:flex;
    border: 1px solid black;
    position: relative;
}

#LogIM{
    width: 100%;
    height:auto;
}

#title{
    width: 80%;
    height: 10%;
    overflow:hidden;
    display: inline-block;
    align-items: center;
    border: 1px solid black;
    padding-top: 30px;
    padding-bottom: 30px;
    margin: 0;
}

#titleN{
    width: 100%;
    height: auto;
    font-size: 100%;
}
#fecha{
    text-align: right;
    display: inline-block;
    width: 100%;
    height: auto;
    margin-top: 5px;
    padding-right: 5px;
    margin-bottom: 5px;
}
#infoP{
    width: 100%;
    text-align: center;
}
label{
    font-size: 70%;
}
table{
    text-align: right;
    margin: 0 auto; 
    width: 100%;
}
th{
    text-align: center;
    padding-bottom: 10px;
    padding-top: 10px;
    border: 1px solid black;
    width: 100%;
}
td{
    margin: 0 auto;
}
.imptxt{
    text-align: left;
}
#TB-sol-div{
    float: left;
    padding-top: 5px;
    width: 45%;
}
#TB-sol{
    float: left;
}
#TB-sol-chk{
    text-align: right;
}
.TB-sol-lbl{
    text-align: left;
    width: 50%;
}
.TB-sol-th{
    padding: 0;
    font-size: small;
}
#TB-equip-div{
    float: right;
    padding-top: 5px;
    width: 45%;
}
.TB-equip-lbl{
    text-align: right;
}
.TB-equip-input{
    text-align: left;
}
