form{
    background-color: rgb(255, 255, 255);
    width: 700px;
    /*text-align: center;*/ 
    display:inline-table;
    height: 100%;
    border: 2px solid rgb(0, 0, 0);
}

div {
    box-sizing: border-box;
}

#formdiv{
    display: inline-block;
    width: 100%;
    text-align: center;
    height: 950px;
}
#headfor{
    width: 100%;
    padding: 0;
    margin: 0;
    display: inline-block;
    position: absolute;
    align-items: stretch;
}
#logo{
    width: 20% ;
    float: left;
    /*background-image: url(img/logo.png);*/
    text-align: center;
    height: 10%;
    overflow:hidden;
    display:flex;
    border: 1px solid black;
    position: relative;
}

#LogIM{
    width: 100%;
    height:118px;

}

#title{
    width: 80%;
    height: 10%;
    overflow:hidden;
    display: inline-block;
    align-items: center;
    border: 1px solid black;
    padding-top: 30px;
    padding-bottom: 30px;
    margin: 0;
}

#titleN{
    width: 100%;
    height: auto;
    font-size: 100%;
}
#fecha{
    text-align: right;
    display: inline-block;
    width: 100%;
    height: auto;
    margin-top: 5px;
    padding-right: 5px;
    margin-bottom: 5px;
}
#infoP{
    width: 100%;
    text-align: center;
}
label{
    font-size: 70%;
}
table{
    text-align: right;
    margin: 0 auto; 
    width: 100%;
}
th{
    text-align: center;
    padding-bottom: 10px;
    padding-top: 10px;
    border: 1px solid black;
    width: 100%;
}
td{
    margin: 0 auto;
}
.imptxt{
    text-align: left;
}
#TB-sol-div{
    float: left;
    padding-top: 5px;
    width: 45%;
}
#TB-sol{
    float: left;
}
#TB-sol-chk{
    text-align: right;
}
.TB-sol-lbl{
    text-align: left;
}
.TB-sol-th{
    padding: 0;
    font-size: small;
    width: 100%;
}
#TB-equip-div{
    float: right;
    padding-top: 5px;
    width: 45%;
}
.TB-equip-lbl{
    text-align: right;
}
.TB-equip-input{
    text-align: left;
}
.TB-sc-div{
    width: 100%;
}

#TB-R-div{
    float: left;
    padding: 0px, 3px, 0px, 2px;
    width: 45%;
}

#TB-R{
    height: 40px;
    width: 400px;
}

.TB-R-th{
    padding: 0;
    font-size: small;
    width: 100%;
}

#TB-M-div{
    float: right;
    padding: 0px, 3px, 0px, 2px;
    width: 43.6%;
}

#TB-M{
    height: 40px;
    width: 306px;
}

.TB-M-th{
    padding-bottom: 0;
    margin: 0%;
    font-size: small;
    width: 100%;
}

/* The properties that affect the label and th */
.TB-lbl-R{
    display: flex;
    justify-content: center;
    float: left;
    padding-top: 1px;
    padding-bottom: 1px;
    padding-right: 81.9px;
    margin: 0%;
    font-size: small;
    width: 100%;
}

.TB-lbl-M{
    display: flex;
    float: left;
    padding-top: 1px;
    margin: 0%;
    font-size: small;
    width: 100%;
}

.TB-as-th{
    padding-top: 0px;
    font-size: small;
    width: 100%;
}

.TB-lbl-as{
   display:flex;
}

.TB-js-div{
   float: left;
    padding-top: 5px;
    width: 45%;
}

/*#TB-js{
    
}*/

.TB-js-th{
    display: flex;
    padding: 0;
    margin-top: 7px;
    font-size: small;
    width: 100%;
}

.inpt_PI{
text-align: left;
padding-top: 0px;
padding-left: 1px;
border-radius: 1px solid;
}

.ns1{
    width:150px;    
    border-top:1px solid rgb(0, 0, 0);
    position: relative;
    top:10px;
    float:left;
}

.ns2{
        width:150px;    
        border-top:1px solid rgb(0, 0, 0);
        position: relative;
        top:10px;
        float:right;
}

.ns3{
    margin:0px 25% 0px;
    width: 200px;    
    border-top:1px solid rgb(0, 0, 0);
    position: relative;
    top:10px;
    float:right;
    margin-right: 250px;
    margin-left: 120px;
    padding-right: 25px;
}

.lbl-as{
   font-size: medium;
   font-weight: bold;
   position: center;
}

.lbl-eq{
    font-size: small;
    width: 85px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.Fde1{
    display: block;
    text-align: left;
    height: 25px;
}

.inpFde1{
width: 200px;
outline: none;
background: none;
border: none;
border-bottom: 1px solid rgb(0, 0, 0) !important;
}

.inpFde2{
    width: 300px;
    border: 0px;
    outline: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 210px;
    background: transparent;
    border-bottom: 1px solid rgb(0, 0, 0) !important;
    }

.Fde2{
   padding-right: 20px;   
   width: 300px;
}

.Nr{
height: 35px;
display: flex;
justify-content: center;
align-items: center;
font-size: medium;
font-weight: bold;
padding-left: 15px;
}